<mat-form-field
  [ngStyle]="{
    width: width$ | async,
    borderStyle: borderStyle$ | async ,
    borderWidth: borderWidth$ | async ,
    borderRadius: borderRadius$ | async ,
    padding: '25px'
  }"
  class="example-form-field"
  appearance="fill"
  cdkDrag="cdkDrag"
>
  <input
    [ngStyle]="{
      height: height$ | async,
      fontSize: fontSize$ | async,
      fontWeight: fontWeight$ | async,
      color: colorRGB$ | async,
      padding: '10px'
    }"
    matInput="matInput"
    type="text"
    [ngModel]="inputPlaceholder$ | async"
  />
  <button
    *ngIf="inputPlaceholder$ | async"
    matSuffix="matSuffix"
    mat-icon-button="mat-icon-button"
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
