<mat-form-field
  [ngStyle]="{
    width: stylesObj.width,
    'border-style': stylesObj.borderStyle,
    'border-width': stylesObj.borderWidth,
    'border-radius': stylesObj.borderRadius,
    padding: '10px'
  }"
  class="example-form-field"
  appearance="fill"
  cdkDrag="cdkDrag"
>
  <input
    [ngStyle]="{
      height: stylesObj.height,
      padding: '10px',
      'font-weight': stylesObj.fontWeight,
      'font-size': stylesObj.fontSize,
      color: stylesObj.colorRGB
    }"
    matInput="matInput"
    type="text"
    [ngModel]="stylesObj.placeholder"
  />
</mat-form-field>
