<mat-form-field

  [ngStyle]="{'width': width, 'border-style': borderStyle, 'border-width': borderWidth, 'border-radius': borderRadius ,  'padding': '10px'}"
  class="example-form-field"
  appearance="fill"
  cdkDrag="cdkDrag"
>
  <input
    [ngStyle]="{
      'height': height,
      'padding': '10px',
      'font-weight': fontWeight,
      'font-size': fontSize,
      'color': colorRGB
    }"
    matInput="matInput"
    type="text"
    [ngModel]="placeholder"
  />
  <button
    *ngIf="inputPlaceholder$ | async"
    matSuffix="matSuffix"
    mat-icon-button="mat-icon-button"
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>


