<mat-form-field
  appearance="fill"
  [ngStyle]="{
    borderWidth: stylesObj.borderWidth,
    borderRadius: stylesObj.borderRadius,
    width: stylesObj.width,
    borderStyle: stylesObj.borderStyle
  }"
>
  <mat-label>Textarea</mat-label>
  <textarea
    matInput
    [ngStyle]="{
      color: stylesObj.colorRGB,
      height: stylesObj.height,
      fontWeight: stylesObj.fontWeight,
      fontSize: stylesObj.fontSize,
      colorRGB: stylesObj.colorRGB
    }"
    >{{ stylesObj.placeholder }}</textarea
  >
</mat-form-field>
