<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let item of items; let index = index"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      {{ item }}
      <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? "close" : "open" }}
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
    <div class="flex flex-col ">
    <!--  -->
      <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Input Placeholder</mat-label>
        <input matInput type="text" [formControl]='inputPlaceholder' [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  -->
      <div>
      <mat-form-field class="example-form-field " appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput type="text" [formControl]='width' [(ngModel)]="widthValue">
        <button *ngIf="widthValue" matSuffix mat-icon-button aria-label="Clear" (click)="widthValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  -->
      <div>
      <mat-form-field class="example-form-field " appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput type="text" [formControl]='height' [(ngModel)]="heightValue">
        <button *ngIf="heightValue" matSuffix mat-icon-button aria-label="Clear" (click)="heightValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  -->
      <div>
      <mat-form-field class="example-form-field " appearance="fill">
        <mat-label>Font Size</mat-label>
        <input matInput type="text" [formControl]='fontSize' [(ngModel)]="fontSizeValue">
        <button *ngIf="fontSizeValue" matSuffix mat-icon-button aria-label="Clear" (click)="fontSizeValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  -->
    <app-font-weight-select></app-font-weight-select>
    <!--  -->
    <div [ngStyle]="{marginTop: '10px'}">
      <mat-form-field class="example-form-field " appearance="fill">
        <mat-label>Color RGB</mat-label>
        <input matInput type="text" [formControl]='colorRGB' [(ngModel)]="colorRGBValue">
        <button *ngIf="colorRGBValue" matSuffix mat-icon-button aria-label="Clear" (click)="colorRGBValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  -->

    
    </div>

    </div>


  </cdk-accordion-item>
</cdk-accordion>
