

<div class="example-container">
  <h2 >Make Styles HERE</h2>
  <app-accordion

    [selectedId]="selectedId"
  ></app-accordion>
</div>

<div class="example-container">
  <h2 >Drag HERE</h2>

  <div
    cdkDropList="cdkDropList"
    #componentListId="cdkDropList"
    [cdkDropListData]="componentsList"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [ngStyle]="{ backgroundColor: backgroundColor$ | async, borderStyle: borderStyle}"
  >
    <h3 [ngStyle]="{color: textColor$|async, fontSize: fontSize$|async, fontWeight: fontWeight$ |async}">{{yourFormLabel || 'Your Form Label'}} </h3>

    <div
      *ngFor="let item of componentsList; let i = index"
      cdkDrag="cdkDrag"
      class="example-box"
      (click)="dispatchSelectedCompoent(item)"
      [ngStyle]="
        selectedId === item.id
          ? { 'background-color': '#add8e6' }
          : { 'background-color': 'white' }
      "
    >
      <app-input-component
        *ngIf="item.name === 'input'"
        [id]="item.id"
        [stylesObj]="item"
      ></app-input-component>

      <app-button-component
        *ngIf="item.name === 'button'"
        [stylesObj]="item"
      ></app-button-component>

      <app-textarea
        *ngIf="item.name === 'textarea'"
        [stylesObj]="item"
      ></app-textarea>

      <app-checkbox 
      *ngIf="item.name === 'checkbox'" 
      [stylesObj]="item"
      ></app-checkbox>

      <app-select-option
        *ngIf="item.name === 'select option'"
        [stylesObj]="item"

      ></app-select-option>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Take from HERE</h2>

  <div
    cdkDropList="cdkDropList"
    #typeListId="cdkDropList"
    [cdkDropListData]="typeList"
    [cdkDropListConnectedTo]="[componentListId]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of typeList" cdkDrag="cdkDrag">
      {{ item }}
    </div>
  </div>
    <!--  -->
      <h2 [ngStyle]="{marginTop : '15px'}">Position Controls</h2>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop2($event)">
      <div class="example-box" *ngFor="let item of componentsList" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{item.name}}
      </div>
    </div>
  
  <!--  -->
</div>


