

    <ng-template [cdkPortalOutlet]="section1"></ng-template>

<div class="example-container">
  <h2>Make Styles HERE</h2>
  <app-accordion

    [selectedId]="selectedId"
  ></app-accordion>
</div>

<div class="example-container">
  <h2 >Drag HERE</h2>

  <div
    cdkDropList="cdkDropList"
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let item of data; let i = index"
      cdkDrag="cdkDrag"
      class="example-box"
      (click)="dispatchSelectedCompoent(item)"
      [ngStyle]="
        selectedId === item.id
          ? { 'background-color': 'lightgreen' }
          : { 'background-color': 'white' }
      "
    >
      <app-input-component
        *ngIf="item.name === 'input'"
        [id]="item.id"
        [stylesObj]="item"
      ></app-input-component>

      <app-button-component
        *ngIf="item.name === 'button'"
        [stylesObj]="item"
      ></app-button-component>

      <app-textarea
        *ngIf="item.name === 'textarea'"
        [stylesObj]="item"
      ></app-textarea>

      <app-checkbox 
      *ngIf="item.name === 'checkbox'" 
      [stylesObj]="item"
      ></app-checkbox>

      <app-select-option
        *ngIf="item.name === 'select option'"
        [stylesObj]="item"

      ></app-select-option>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Take from HERE</h2>

  <div
    cdkDropList="cdkDropList"
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag="cdkDrag">
      {{ item }}
    </div>
  </div>
</div>


